server_with_Intel_Xeon_E5_2697_v4/logs/*
server_with_Intel_Xeon_E5_2697_v4/models/logs/
server_with_Intel_Xeon_E5_2697_v4/tmp/*
server_with_Intel_Xeon_E5_2697_v4/volume/*
server_with_Intel_Xeon_E5_2697_v4/nohup.out
server_with_Intel_Xeon_E5_2697_v4/legacy/
server_with_Intel_Xeon_E5_2697_v4/__pycache__/
server_with_Intel_Xeon_E5_2697_v4/apps/tailbench-v0.9/tailbench.inputs/
server_with_Intel_Xeon_E5_2697_v4/evaluations/
server_with_Intel_Xeon_E5_2697_v4/*.pkl
server_with_Intel_Xeon_E5_2697_v4/data/data_collection/*
server_with_Intel_Xeon_E5_2697_v4/data/data_process/*
server_with_Intel_Xeon_E5_2697_v4/error_log.txt
server_with_Intel_Xeon_E5_2697_v4/apps/nginx/html/*
server_with_Intel_Xeon_E5_2697_v4/res/
server_with_Intel_Xeon_E5_2697_v4/scripts/
server_with_Intel_Xeon_E5_2697_v4/html/
server_with_Intel_Xeon_E5_2697_v4/evaluation.py
server_with_Intel_Xeon_E5_2697_v4/data/logs/
server_with_Intel_Xeon_E5_2697_v4/data/error_log.txt
