*/logs
*/tmp
*/models/logs/
*/volume/*
*/nohup.out
*/legacy/
*/__pycache__/
*/apps/tailbench-v0.9/tailbench.inputs/
*/evaluations/
*/*.pkl
*/data/data_collection/*
*/data/data_process/Model_*
*/data/data_process/labels_*
*/error_log.txt
*/apps/nginx/html/*
*/res/
*/scripts/
*/html/
*/evaluation.py
*/data/logs/
*/data/error_log.txt
*/models/legacy
