logs/*
models/logs/
tmp/*
volume/*
nohup.out
legacy/
__pycache__/
apps/tailbench-v0.9/tailbench.inputs/
evaluations/
*.pkl
data/data_collection/*
data/data_process/*
error_log.txt
apps/nginx/html/*
res/
apps/
workload.txt
scripts/
